page-add-note {
  ion-content{
    background: url(../../assets/imgs/bg3.jpeg) no-repeat center fixed;
    background-size: cover;
    &:before{
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #02362C,#003199);
      opacity: .3;
    }
}
}
