<ion-header>

  <ion-navbar [color]="isRecording ? 'danger' : 'dark'">
    <ion-title>Add Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="saveNote(formGroup.value)" #f="ngForm">
      <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="date" displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
        </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" name="title" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Note</ion-label>
        <ion-input [(ngModel)]="saidText" id="txtLabel" type="text" name="content" formControlName="content" required></ion-input>
    </ion-item>
    <button ion-button type="submit"[disabled]="!formGroup.valid">Save Note</button>
  </form>

  <button ion-button full (click)="startListening()">Record content</button>
  <button  ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>


</ion-content>
