<!--
  Generated template for the ViewNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>view-note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{note.title}}
      </ion-card-title>
      <div class="note-date">{{ note.date }}</div>
      <hr/>
      <div>{{note.content}}</div>
      <div>{{note.private}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button color="danger" block (click)="deleteNote(note.createDate)">
    Delete Node
  </button>
</ion-footer>
