page-home {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  ion-content{
    background: url(../../assets/imgs/bg2.jpeg) no-repeat center fixed;
    background-size: cover;
    &:before{
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #02362C,#003199);
      opacity: .3;
    }
  }
  .date {
    font-weight: bold;
    color: #888;
    padding-right: 24px;
    font-size: 0.8em;
  }
  .center {
    text-align:center;
    margin:auto;
  }
}


