<ion-header>
  <ion-navbar color="dark">
    <ion-title >
      Note App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let note of notes | async" (click)="getNote(note.createDate)">
      {{note.title}}
    </button>
  </ion-list>
  <div class="center">
    <button ion-button (click)="addNote()">Add Note</button>
  </div>

</ion-content>
